{% extends 'basic_page.html' %}
{% load static %}
{% block title %}首页{% endblock %}
 {% block header %}
     <script>
     document.getElementById('a1').classList.add('active');
     </script>
    <div class="row align-items-center">
        <div class="col-md-8">
            <div class="page-header-title">
                <h5 class="m-b-10">首页</h5>
                <p class="m-b-0">欢迎来到上海大学图书借阅系统</p>
            </div>
        </div>
        <div class="col-md-4">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}"> <i class="fa fa-home"></i> </a>
                </li>
                <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a>
                </li>
            </ul>
        </div>
    </div>
    {% endblock %}

{% block content %}

    <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body">
            <div class="row">
                <!-- Material statustic card start -->
                <div class="col-xl-4 col-md-12">
                    <div class="card mat-stat-card">
                        <div class="card-block">
                            <div class="row align-items-center b-b-default">
                                <div class="col-sm-6 b-r-default p-b-20 p-t-20">
                                    <div class="row align-items-center text-center">
                                        <div class="col-4 p-r-0">
                                            <i class="far fa-file text-c-purple f-24"></i>
                                        </div>
                                        <div class="col-8 p-l-0">
                                            <h5>{{ book_lips_num }} 本</h5>
                                            <p class="text-muted m-b-0">在读书籍</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 p-b-20 p-t-20">
                                    <div class="row align-items-center text-center">
                                        <div class="col-4 p-r-0">
                                            <i class="fas fa-registered text-c-green f-24"></i>
                                        </div>
                                        <div class="col-8 p-l-0">
                                            <h5>{{ reserve_num }}本</h5>
                                            <p class="text-muted m-b-0">预约书籍</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-sm-6 p-b-20 p-t-20 b-r-default">
                                    <div class="row align-items-center text-center">
                                        <div class="col-4 p-r-0">
                                            <i class="far fa-file-alt text-c-red f-24"></i>
                                        </div>
                                        <div class="col-8 p-l-0">
                                            <h5>{{ book_lips_num }} 本</h5>
                                            <p class="text-muted m-b-0">待还书籍</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 p-b-20 p-t-20">
                                    <div class="row align-items-center text-center">
                                        <div class="col-4 p-r-0">
                                            <i class="far fa-envelope-open text-c-blue f-24"></i>
                                        </div>
                                        <div class="col-8 p-l-0">
                                            <h5>{{ overdue_num }}本</h5>
                                            <p class="text-muted m-b-0">逾期书籍</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12">
                    <div class="card mat-stat-card">
                        <div class="card-block">
                            <div class="row align-items-center b-b-default">
                                <div class="col-sm-6 b-r-default p-b-20 p-t-20">
                                    <div class="row align-items-center text-center">
                                        <div class="col-4 p-r-0">
                                            <i class="fas fa-share-alt text-c-purple f-24"></i>
                                        </div>
                                        <div class="col-8 p-l-0">
                                            <h5>{{ violation_num }}</h5>
                                            <p class="text-muted m-b-0">违规次数</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 p-b-20 p-t-20">
                                    <div class="row align-items-center text-center">
                                        <div class="col-4 p-r-0">
                                            <i class="fas fa-sitemap text-c-green f-24"></i>
                                        </div>
                                        <div class="col-8 p-l-0">
                                            <h5>52</h5>
                                            <p class="text-muted m-b-0">守约次数</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-sm-6 p-b-20 p-t-20 b-r-default">
                                    <div class="row align-items-center text-center">
                                        <div class="col-4 p-r-0">
                                            <i class="fas fa-signal text-c-red f-24"></i>
                                        </div>
                                        <div class="col-8 p-l-0">
                                            <h5>0</h5>
                                            <p class="text-muted m-b-0">待缴费</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 p-b-20 p-t-20">
                                    <div class="row align-items-center text-center">
                                        <div class="col-4 p-r-0">
                                            <i class="fas fa-wifi text-c-blue f-24"></i>
                                        </div>
                                        <div class="col-8 p-l-0">
                                            <h5>{{reserve_sec_num}}次</h5>
                                            <p class="text-muted m-b-0">预约成功</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12">
                    <div class="card mat-clr-stat-card text-white green ">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-3 text-center bg-c-green">
                                    <i class="fas fa-star mat-icon f-24"></i>
                                </div>
                                <div class="col-9 cst-cont">
                                    <h5>{{ coolection_num }}</h5>
                                    <p class="m-b-0">收藏量</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mat-clr-stat-card text-white blue">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-3 text-center bg-c-blue">
                                    <i class="fas fa-trophy mat-icon f-24"></i>
                                </div>
                                <div class="col-9 cst-cont">
                                    <h5>{{ ranking }}</h5>
                                    <p class="m-b-0">排名</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Material statustic card end -->
                <!-- order-visitor start -->


                <!-- order-visitor end -->

                <!--  sale analytics start -->
                <div class="col-xl-6 col-md-12">
                    <div class="card table-card">
                        <div class="card-header">
                            <h5>最近借阅书目</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-trash close-card"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-hover m-b-0 without-header">
                                    <tbody>
                                       <tr>
                                           {% for book in book_lips %}
                                                <tr>
                                                    <td>
                                                        <div class="d-inline-block align-middle">
                                                            <div class="d-inline-block">
                                                                <h6>{{ book.book.isbn.title }}</h6>
                                                                <p class="text-muted m-b-0">{{ book.book.isbn.publisher }}</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">
                                                        <h6 class="f-w-700">已读{{ book.date.days }}天<i class="fas fa-file text-c-green m-l-10"></i></h6>
                                                    </td>
                                                </tr>
                                           {% endfor %}
                                       </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>



                 <!-- Donut chart start -->
                <div class="col-xl-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>阅读种类</h5>
                        </div>
                        <div class="card-block">
                            <div id="donut-example"></div>
                        </div>
                    </div>
                </div>
                        <!-- Donut chart Ends -->



            </div>
        </div>
        <!-- Page-body end -->
    </div>
{% endblock %}

{% block js %}

        <!-- Required Jquery -->
    <script type="text/javascript" src="{%  static 'js/jquery/jquery.min.js' %} "></script>
    <script type="text/javascript" src="{%  static 'js/jquery-ui/jquery-ui.min.js' %} "></script>
    <script type="text/javascript" src="{%  static 'js/popper.js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{%  static 'js/bootstrap/js/bootstrap.min.js' %} "></script>
    <!-- waves js -->
    <script src="{%  static 'pages/waves/js/waves.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{%  static 'js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- slimscroll js -->
    <script src="{%  static 'js/jquery.mCustomScrollbar.concat.min.js' %} "></script>
    <!-- menu js -->
    <script src="{%  static 'js/pcoded.min.js' %}"></script>
    <script src="{%  static 'js/vertical/vertical-layout.min.js' %} "></script>
    <script type="text/javascript" src="{%  static 'js/script.js' %} "></script>
    <!-- Morris Chart js -->
    <script src="{% static 'js/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'js/morris.js/morris.js' %}"></script>
    <!-- Custom js -->
    <script src="{% static 'pages/chart/morris/morris-custom-chart.js' %}"></script>

    <script type="text/javascript">
        var data_new = [{{ series|safe }}];
        {# 传输过来的series通过过滤器safe传输过来了，但不要忘了series是字典形式，所以要和原来的js文件一致需要列表，那就加上[]就行啦~~ #}
    </script>
{% endblock %}